<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NameRelease</key>
		<string>BODYJAM  72</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/BodyJam+72/104721876</string>
		<key>PlaylistByService</key>
		<dict>
			<key>YouTube</key>
			<string>https://www.youtube.com/playlist?list=PLb4x8eIyrCZfR78jD-Xlh6ziBAYYzFFJC</string>
			<key>GrooveShark</key>
			<string>http://grooveshark.com/playlist/BodyJam+72/104721876</string>
			<key>Spotify</key>
			<string>https://open.spotify.com/user/simona.b/playlist/3NqxQk5OHVKkkpOMhqy4Fi</string>
		</dict>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warmup</string>
				<key>SongTitle</key>
				<string>Freaks (Extended Mix)</string>
				<key>SongArtist</key>
				<string>Timmy Trumpet &amp; Savage</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>Partition/Yoncé (Clean) (Medley Segment)</string>
				<key>SongArtist</key>
				<string>Beyoncé</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>Partition (Dave Aude Main Mix)</string>
				<key>SongArtist</key>
				<string>Beyoncé</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Proud Mary</string>
				<key>SongArtist</key>
				<string>Tina Turner &amp; Ike</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Business</string>
				<key>SongArtist</key>
				<string>Eminem</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Bang It To The Curb</string>
				<key>SongArtist</key>
				<string>Far East Movement &amp; Sidney Samson</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Revolution (Panic City Remix)</string>
				<key>SongArtist</key>
				<string>Diplo feat. Faustix and Imanos &amp; Kai</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>The Fresh Prince Of Bel Air</string>
				<key>SongArtist</key>
				<string>DJ Jazzy Jeff &amp; The Fresh Prince</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Talk Dirty</string>
				<key>SongArtist</key>
				<string>Jason Derulo feat. 2 Chainz</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>The Lawnmower</string>
				<key>SongArtist</key>
				<string>Aryay</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Partition/Yoncé (Clean) (Medley Segment)</string>
				<key>SongArtist</key>
				<string>Beyoncé</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Cannonball (Earthquake) (Yellow Claw Remix)</string>
				<key>SongArtist</key>
				<string>Showtek &amp; Justin Prime feat. Matthew Koma</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1-Hip Hop</string>
				<key>SongTitle</key>
				<string>Booyah</string>
				<key>SongArtist</key>
				<string>Flushing Outsider</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>Bang Bang</string>
				<key>SongArtist</key>
				<string>Jessie J, Ariana Grande &amp; Nicki Minaj</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>Shocker</string>
				<key>SongArtist</key>
				<string>Headhunterz &amp; W&amp;W</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>How We Party (Clean)</string>
				<key>SongArtist</key>
				<string>R3hab &amp; VINAI</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>Shocker</string>
				<key>SongArtist</key>
				<string>Headhunterz &amp; W&amp;W</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>Rage The Night Away (Clean)</string>
				<key>SongArtist</key>
				<string>Steve Aoki feat. Waka Flocka Flame</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>Rage The Night Away (Flosstradamus Remix)</string>
				<key>SongArtist</key>
				<string>Steve Aoki feat. Waka Flocka Flame</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2-House</string>
				<key>SongTitle</key>
				<string>Best Mistake</string>
				<key>SongArtist</key>
				<string>Ariana Grande feat. Big Sean</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>BONUS</string>
				<key>SongTitle</key>
				<string>Bad</string>
				<key>SongArtist</key>
				<string>David Guetta &amp; Showtek feat. Vassy</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>BONUS</string>
				<key>SongTitle</key>
				<string>Freaks (Original Mix)</string>
				<key>SongArtist</key>
				<string>Timmy Trumpet</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>BONUS</string>
				<key>SongTitle</key>
				<string>Stand Up</string>
				<key>SongArtist</key>
				<string>Ludacris</string>
				<key>SongDuration</key>
				<string>0:00</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>BODYJAM 71</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/BodyJam+71/102924977</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warm up</string>
				<key>SongTitle</key>
				<string>Freak</string>
				<key>SongArtist</key>
				<string>Steve Aoki, Diplo &amp; Deorro ft. Steve Bays</string>
				<key>SongDuration</key>
				<string>4:44</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>Problem</string>
				<key>SongArtist</key>
				<string>Ariana Grande ft. Iggy Azalea</string>
				<key>SongDuration</key>
				<string>0:59</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>Problem (Kassiano Remix)</string>
				<key>SongArtist</key>
				<string>Ariana Grande ft. Iggy Azalea</string>
				<key>SongDuration</key>
				<string>2:07</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Break Free</string>
				<key>SongArtist</key>
				<string>Ariana Grande ft. Zedd</string>
				<key>SongDuration</key>
				<string>3:32</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>The Buzz</string>
				<key>SongArtist</key>
				<string>New World Sound &amp; Timmy Trumpet</string>
				<key>SongDuration</key>
				<string>4:30</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Dance (A*$) Remix</string>
				<key>SongArtist</key>
				<string>Big Sean ft. Nicki Minaj</string>
				<key>SongDuration</key>
				<string>1:26</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>TTU (Too Turnt Up)</string>
				<key>SongArtist</key>
				<string>Flosstradamus ft. Waka Flocka Flame</string>
				<key>SongDuration</key>
				<string>3:26</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Double Bubble Trouble</string>
				<key>SongArtist</key>
				<string>M.I.A</string>
				<key>SongDuration</key>
				<string>2:48</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Jah No Partial</string>
				<key>SongArtist</key>
				<string>Crossing Void</string>
				<key>SongDuration</key>
				<string>3:40</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Good Kisser</string>
				<key>SongArtist</key>
				<string>Usher</string>
				<key>SongDuration</key>
				<string>4:09</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>You (Extended Mix)</string>
				<key>SongArtist</key>
				<string>Galantis</string>
				<key>SongDuration</key>
				<string>5:45</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Bounce Generation</string>
				<key>SongArtist</key>
				<string>TJR &amp; Vinai</string>
				<key>SongDuration</key>
				<string>3:30</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Ping Pong (Hardwell Remix)</string>
				<key>SongArtist</key>
				<string>Armin van Buuren</string>
				<key>SongDuration</key>
				<string>4:38</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>The Worst</string>
				<key>SongArtist</key>
				<string>Jhene Aiko</string>
				<key>SongDuration</key>
				<string>3:39</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Payback</string>
				<key>SongArtist</key>
				<string>Dimitri Vangelis, Wyman, Steve Angello</string>
				<key>SongDuration</key>
				<string>4:46</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>What Is Love</string>
				<key>SongArtist</key>
				<string>Janelle Monáe</string>
				<key>SongDuration</key>
				<string>3:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Knock You Out (Hardwell Rmx)</string>
				<key>SongArtist</key>
				<string>Bingo Players</string>
				<key>SongDuration</key>
				<string>1:44</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Dechorro</string>
				<key>SongArtist</key>
				<string>Deorro</string>
				<key>SongDuration</key>
				<string>1:54</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Jaguar</string>
				<key>SongArtist</key>
				<string>What So Not</string>
				<key>SongDuration</key>
				<string>1:24</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>E.T. (Tiesto Remix)</string>
				<key>SongArtist</key>
				<string>Katy Perry</string>
				<key>SongDuration</key>
				<string>5:52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>BODYJAM 70</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/BodyJam+70/100989406</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warm up</string>
				<key>SongTitle</key>
				<string>#‎SELFIE (Club Mix) </string>
				<key>SongArtist</key>
				<string>The Chainsmokers</string>
				<key>SongDuration</key>
				<string>4:06</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>Fancy </string>
				<key>SongArtist</key>
				<string>Iggy Azalea ft. Charli XCX</string>
				<key>SongDuration</key>
				<string>3:13</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>Mujer Latina</string>
				<key>SongArtist</key>
				<string>Thalia</string>
				<key>SongDuration</key>
				<string>3:39</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Crush On You (Knife Party Remix)</string>
				<key>SongArtist</key>
				<string>Nero</string>
				<key>SongDuration</key>
				<string>2:18</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>The Next Episode</string>
				<key>SongArtist</key>
				<string>Dr. Dre ft. Snoop Dogg</string>
				<key>SongDuration</key>
				<string>2:36</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Love Don’t Cost a Thing (RJ Schoolyard Mix)</string>
				<key>SongArtist</key>
				<string>Jennifer Lopez ft. Fat Joe</string>
				<key>SongDuration</key>
				<string>2:12</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Turn Down For What</string>
				<key>SongArtist</key>
				<string>DJ Snake &amp; Lil Jon</string>
				<key>SongDuration</key>
				<string>2:11</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Jump Around</string>
				<key>SongArtist</key>
				<string>House Of Pain</string>
				<key>SongDuration</key>
				<string>1:10</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Express Yourself</string>
				<key>SongArtist</key>
				<string>Diplo ft. Nicky Da B</string>
				<key>SongDuration</key>
				<string>0:57</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Dibby Dibby Sound (The Partysquad Remix)</string>
				<key>SongArtist</key>
				<string>DJ Fresh &amp; Jay Fay ft. MS Dynamite</string>
				<key>SongDuration</key>
				<string>1:43</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Helicopter </string>
				<key>SongArtist</key>
				<string>Martin Garrix &amp; Firebeatz</string>
				<key>SongDuration</key>
				<string>0:49</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Set It Off (TheFatRat Remix) </string>
				<key>SongArtist</key>
				<string>Diplo</string>
				<key>SongDuration</key>
				<string>1:11</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1 -    Hip Hop</string>
				<key>SongTitle</key>
				<string>Set It Off </string>
				<key>SongArtist</key>
				<string>Diplo</string>
				<key>SongDuration</key>
				<string>3:06</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Talk That Talk </string>
				<key>SongArtist</key>
				<string>Rihanna ft. Jay-Z</string>
				<key>SongDuration</key>
				<string>3:03</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Eat Sleep Rave Repeat (Calvin Harris Remix)</string>
				<key>SongArtist</key>
				<string>Fatboy Slim &amp; Riva Star ft. Beardyman</string>
				<key>SongDuration</key>
				<string>4:49</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Eat Sleep Rave Repeat (Calvin Harris Remix)</string>
				<key>SongArtist</key>
				<string>Fatboy Slim &amp; Riva Star ft. Beardyman</string>
				<key>SongDuration</key>
				<string>4:49</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>100% Pure Love</string>
				<key>SongArtist</key>
				<string>Crystal Waters</string>
				<key>SongDuration</key>
				<string>2:30</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Flashlight</string>
				<key>SongArtist</key>
				<string>R3HAB &amp; Deorro</string>
				<key>SongDuration</key>
				<string>1:01</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Everybody Is In The Place (Original Mix)</string>
				<key>SongArtist</key>
				<string>Hardwell</string>
				<key>SongDuration</key>
				<string>1:54</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Flashlight</string>
				<key>SongArtist</key>
				<string>R3HAB &amp; Deorro</string>
				<key>SongDuration</key>
				<string>1:01</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Not Taking This No More (Twoloud Remix)</string>
				<key>SongArtist</key>
				<string>Ivan Gough, NERVO, Beverly Knight</string>
				<key>SongDuration</key>
				<string>3:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2 - House</string>
				<key>SongTitle</key>
				<string>Back To Earth (Original Mix)</string>
				<key>SongArtist</key>
				<string>Futuristic Polar Bears</string>
				<key>SongDuration</key>
				<string>5:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Recovery</string>
				<key>SongTitle</key>
				<string>Rather Be</string>
				<key>SongArtist</key>
				<string>Clean Bandit ft. Jess Glynne</string>
				<key>SongDuration</key>
				<string>3:47</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3 - Mash it!</string>
				<key>SongTitle</key>
				<string>Dare You (Cash Cash Remix) </string>
				<key>SongArtist</key>
				<string>Hardwell ft. Matthew Koma</string>
				<key>SongDuration</key>
				<string>2:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3 - Mash it!</string>
				<key>SongTitle</key>
				<string>Unison (Knife Party Remix)</string>
				<key>SongArtist</key>
				<string>Porter Robinson</string>
				<key>SongDuration</key>
				<string>1:42</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3 - Mash it!</string>
				<key>SongTitle</key>
				<string>Get Down</string>
				<key>SongArtist</key>
				<string>Hard Rock Sofa vs Eva Shaw</string>
				<key>SongDuration</key>
				<string>3:31</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3 - Mash it!</string>
				<key>SongTitle</key>
				<string>Dare You (Tiësto vs Twoloud Remix)</string>
				<key>SongArtist</key>
				<string>Hardwell ft. Matthew Koma</string>
				<key>SongDuration</key>
				<string>2:35</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus:Boom! Shake The Room  ALT 14</string>
				<key>SongArtist</key>
				<string>DJ Jazzy Jeff &amp; The Fresh Place</string>
				<key>SongDuration</key>
				<string>3:41</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>BODYJAM 69</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/BodyJam+69/98298707</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warm up</string>
				<key>SongTitle</key>
				<string>Jumper (Original Mix ) </string>
				<key>SongArtist</key>
				<string>Hardwell &amp; W&amp;W</string>
				<key>SongDuration</key>
				<string>4:42</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>BaDINGA! </string>
				<key>SongArtist</key>
				<string>TWRK</string>
				<key>SongDuration</key>
				<string>3:01</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 1</string>
				<key>SongTitle</key>
				<string>Party Monster</string>
				<key>SongArtist</key>
				<string>Krewella</string>
				<key>SongDuration</key>
				<string>3:31</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2</string>
				<key>SongTitle</key>
				<string>Everybody (Backstreet’s Back) </string>
				<key>SongArtist</key>
				<string>Backstreet Boys</string>
				<key>SongDuration</key>
				<string>4:36</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2</string>
				<key>SongTitle</key>
				<string>Wrecking Ball </string>
				<key>SongArtist</key>
				<string>Miley Cirus</string>
				<key>SongDuration</key>
				<string>6:41</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 2</string>
				<key>SongTitle</key>
				<string>Pantsdown (Club Mix) </string>
				<key>SongArtist</key>
				<string>The Partysquad &amp; Mitchell Niemeyer</string>
				<key>SongDuration</key>
				<string>5:42</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Recovery</string>
				<key>SongTitle</key>
				<string>Wild For The Night  </string>
				<key>SongArtist</key>
				<string>A$AP Rocky ft. Skrillex &amp; Birdy Nam Nam</string>
				<key>SongDuration</key>
				<string>3:29</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3</string>
				<key>SongTitle</key>
				<string>All Of The Lights (Interlude) </string>
				<key>SongArtist</key>
				<string>Kanye West </string>
				<key>SongDuration</key>
				<string>1:02</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3</string>
				<key>SongTitle</key>
				<string>All Of The Lights </string>
				<key>SongArtist</key>
				<string>Kanye West ft. Almost Everybody</string>
				<key>SongDuration</key>
				<string>5:06</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3</string>
				<key>SongTitle</key>
				<string>Wizard </string>
				<key>SongArtist</key>
				<string>Martin Garrix &amp; Jay Hardway</string>
				<key>SongDuration</key>
				<string>3:52</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3</string>
				<key>SongTitle</key>
				<string>Ladi Dadi (Tommy Trash Remix) </string>
				<key>SongArtist</key>
				<string> Steve Aoki ft. Wynter Gordon</string>
				<key>SongDuration</key>
				<string>4:57</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Block 3 Pt 2</string>
				<key>SongTitle</key>
				<string>We Like To Party</string>
				<key>SongArtist</key>
				<string>Showtek</string>
				<key>SongDuration</key>
				<string>4:41</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Groove Down</string>
				<key>SongTitle</key>
				<string>Do What You Want </string>
				<key>SongArtist</key>
				<string>Lady Gaga ft. R Kelly</string>
				<key>SongDuration</key>
				<string>4:39</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus:Cannonball  ALT 14</string>
				<key>SongArtist</key>
				<string>Showtek &amp; Justin Prime</string>
				<key>SongDuration</key>
				<string>4:23</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus:Born To Rage  ALT 15</string>
				<key>SongArtist</key>
				<string>Dada Life</string>
				<key>SongDuration</key>
				<string>6:17</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus Recovery:OMG  ALT 7</string>
				<key>SongArtist</key>
				<string>Usher feat. Will I Am.</string>
				<key>SongDuration</key>
				<string>4:28</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>BODYJAM 68</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/BodyJam+68/96382663</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Intro</string>
				<key>SongTitle</key>
				<string>Love More</string>
				<key>SongArtist</key>
				<string>Chris Brown ft. Nicki Minaj</string>
				<key>SongDuration</key>
				<string>2:09</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Warm up</string>
				<key>SongTitle</key>
				<string>Together Again</string>
				<key>SongArtist</key>
				<string>Janet Jackson</string>
				<key>SongDuration</key>
				<string>5:29</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Isolations</string>
				<key>SongTitle</key>
				<string>The Boys</string>
				<key>SongArtist</key>
				<string>Nicki Minaj ft. Cassie</string>
				<key>SongDuration</key>
				<string>2:21</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Swedish Tango (BJ68)</string>
				<key>SongTitle</key>
				<string>Levels (Skrillex Remix)</string>
				<key>SongArtist</key>
				<string>Avicii</string>
				<key>SongDuration</key>
				<string>4:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Konnichiwa Sweden</string>
				<key>SongTitle</key>
				<string>Centre Of The Universe (Remode Edit)</string>
				<key>SongArtist</key>
				<string>Axwell</string>
				<key>SongDuration</key>
				<string>3:58</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Konnichiwa Sweden</string>
				<key>SongTitle</key>
				<string>Let’s Go (Swanky Tunes &amp; Hard Rock Sofa Remix) </string>
				<key>SongArtist</key>
				<string>Calvin Harris ft. ￼Ne-Yo</string>
				<key>SongDuration</key>
				<string>2:07</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Konnichiwa Sweden</string>
				<key>SongTitle</key>
				<string>Right Now (Sick Individuals Club Mix)</string>
				<key>SongArtist</key>
				<string>Rihanna ft. David Guetta</string>
				<key>SongDuration</key>
				<string>2:36</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Konnichiwa Sweden</string>
				<key>SongTitle</key>
				<string>Century</string>
				<key>SongArtist</key>
				<string>Fifteen Vital</string>
				<key>SongDuration</key>
				<string>5:35</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Recovery</string>
				<key>SongTitle</key>
				<string>Tennis Court </string>
				<key>SongArtist</key>
				<string>Lorde</string>
				<key>SongDuration</key>
				<string>3:17</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>I Love Booyah</string>
				<key>SongTitle</key>
				<string>Hey!</string>
				<key>SongArtist</key>
				<string>Showtek</string>
				<key>SongDuration</key>
				<string>6:09</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>I Love Booyah </string>
				<key>SongTitle</key>
				<string>Turn Me On (David Guetta &amp; Laidback Luke Remix)</string>
				<key>SongArtist</key>
				<string>David Guetta ft. Nicki Minaj</string>
				<key>SongDuration</key>
				<string>4:21</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>I Love Booyah</string>
				<key>SongTitle</key>
				<string>Booyah (Original) </string>
				<key>SongArtist</key>
				<string>Showtek ft. We Are Loud and Sonny Wilson</string>
				<key>SongDuration</key>
				<string>3:03</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>I Love Booyah</string>
				<key>SongTitle</key>
				<string>Blood On The Leaves</string>
				<key>SongArtist</key>
				<string>Kanye West</string>
				<key>SongDuration</key>
				<string>4:28</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>I Love Booyah P II</string>
				<key>SongTitle</key>
				<string>Where Have You Been (Hardwell Remix)</string>
				<key>SongArtist</key>
				<string>Rihanna</string>
				<key>SongDuration</key>
				<string>6:00</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Groove Down</string>
				<key>SongTitle</key>
				<string>Wake Me Up</string>
				<key>SongArtist</key>
				<string>Avicii</string>
				<key>SongDuration</key>
				<string>4:08</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus:No Good (Extended Mix) Konnichiwa Block</string>
				<key>SongArtist</key>
				<string>Fedde Le Grand, Sultan and Ned Shepard</string>
				<key>SongDuration</key>
				<string>2:43</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus:Leave The World Behind</string>
				<key>SongArtist</key>
				<string>Axwell, Ingrosso, Angello &amp; Laidback Luke</string>
				<key>SongDuration</key>
				<string>3:24</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus:Turbulence (Original Mix)</string>
				<key>SongArtist</key>
				<string>Laidback Luke and Steve Aoki ft. Lil Jon</string>
				<key>SongDuration</key>
				<string>2:18</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
