<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NameRelease</key>
		<string>SH&apos;BAM 18</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/SH+BAM+18/102987653</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warmup</string>
				<key>SongTitle</key>
				<string>Everybody</string>
				<key>SongArtist</key>
				<string>Justice Crew</string>
				<key>SongDuration</key>
				<string>3:56</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Que Viva la Vida</string>
				<key>SongArtist</key>
				<string>Endangered Diamond</string>
				<key>SongDuration</key>
				<string>3:23</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Womanizer</string>
				<key>SongArtist</key>
				<string>Britney Spears</string>
				<key>SongDuration</key>
				<string>3:44</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Neon Lights</string>
				<key>SongArtist</key>
				<string>Mirror Of Encore</string>
				<key>SongDuration</key>
				<string>3:29</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Black Widow</string>
				<key>SongArtist</key>
				<string>Iggy Azalea ft. Rita Ora</string>
				<key>SongDuration</key>
				<string>3:31</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Push It</string>
				<key>SongArtist</key>
				<string>Step Along Double</string>
				<key>SongDuration</key>
				<string>3:11</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Booyah</string>
				<key>SongArtist</key>
				<string>Showtek ft. We are Loud &amp; Sonny Wilson</string>
				<key>SongDuration</key>
				<string>3:10</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Fire</string>
				<key>SongArtist</key>
				<string>Jason Derulo ft. Pitbull</string>
				<key>SongDuration</key>
				<string>3:38</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>You Can&apos;t Stop The Beat</string>
				<key>SongArtist</key>
				<string>The After Lunch</string>
				<key>SongDuration</key>
				<string>5:23</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Dar Um Jeito (We Will Find A Way)</string>
				<key>SongArtist</key>
				<string>Pearl Of Rumor</string>
				<key>SongDuration</key>
				<string>3:46</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Express Yourself</string>
				<key>SongArtist</key>
				<string>Crossed Time</string>
				<key>SongDuration</key>
				<string>6:10</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Cool Down</string>
				<key>SongTitle</key>
				<string>Problem</string>
				<key>SongArtist</key>
				<string>Ariana Grande feat. Iggy Azalea</string>
				<key>SongDuration</key>
				<string>3:14</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>SH&apos;BAM 17</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/SH+BAM+17/101099755</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warmup</string>
				<key>SongTitle</key>
				<string>The Other Side (Super Nani Rmx Edit)</string>
				<key>SongArtist</key>
				<string>Ruff Cash</string>
				<key>SongDuration</key>
				<string>3:46</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>How I Feel</string>
				<key>SongArtist</key>
				<string>Flo Rida</string>
				<key>SongDuration</key>
				<string>2:49</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Rhythm Is Gonna Get You</string>
				<key>SongArtist</key>
				<string>Cotton Soul</string>
				<key>SongDuration</key>
				<string>3:45</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Pump It</string>
				<key>SongArtist</key>
				<string>Black Eyed Peas</string>
				<key>SongDuration</key>
				<string>3:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Work &amp; Play</string>
				<key>SongArtist</key>
				<string>Rada Tifa</string>
				<key>SongDuration</key>
				<string>3:06</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Warrior</string>
				<key>SongArtist</key>
				<string>Havana Brown</string>
				<key>SongDuration</key>
				<string>3:19</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>What Now (Firebeatz Rmx)</string>
				<key>SongArtist</key>
				<string>Rihanna </string>
				<key>SongDuration</key>
				<string>5:03</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>U Can’t Touch This</string>
				<key>SongArtist</key>
				<string>MC Hammer </string>
				<key>SongDuration</key>
				<string>3:25</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Dibby Dibby Sound (Radio Edit)</string>
				<key>SongArtist</key>
				<string>DJ fresh &amp; Jay Fay ft. Ms Dynamite</string>
				<key>SongDuration</key>
				<string>3:15</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Parachute</string>
				<key>SongArtist</key>
				<string>Timomatic </string>
				<key>SongDuration</key>
				<string>3:40</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Turn Me On</string>
				<key>SongArtist</key>
				<string>Young Rocker </string>
				<key>SongDuration</key>
				<string>5:08</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Cool Down</string>
				<key>SongTitle</key>
				<string>The Man</string>
				<key>SongArtist</key>
				<string>Aloe Blacc</string>
				<key>SongDuration</key>
				<string>4:15</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>SH&apos;BAM 16</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/SH+BAM+16/98446523</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warmup</string>
				<key>SongTitle</key>
				<string>I Like How It Feels</string>
				<key>SongArtist</key>
				<string>Enrique Iglesias ft. Pitbull &amp; the WAV&apos;s</string>
				<key>SongDuration</key>
				<string>3:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Disco Inferno</string>
				<key>SongArtist</key>
				<string>Midtown Nitrogen</string>
				<key>SongDuration</key>
				<string>4:15</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Let&apos;s Get Ridiculous </string>
				<key>SongArtist</key>
				<string>Redfoo</string>
				<key>SongDuration</key>
				<string>3:34</string>
				<key>SongDuration2</key>
				<string>0:32</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>The Beautiful People </string>
				<key>SongArtist</key>
				<string>Newcomer Haven</string>
				<key>SongDuration</key>
				<string>3:33</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Crank It Up </string>
				<key>SongArtist</key>
				<string>Vision Wave</string>
				<key>SongDuration</key>
				<string>3:13</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Work B**ch </string>
				<key>SongArtist</key>
				<string>Sahara Vita</string>
				<key>SongDuration</key>
				<string>4:34</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Ain&apos;t Nobody</string>
				<key>SongArtist</key>
				<string>Guess Who</string>
				<key>SongDuration</key>
				<string>3:28</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Timber </string>
				<key>SongArtist</key>
				<string>Pitbull ft. Ke$ha</string>
				<key>SongDuration</key>
				<string>3:23</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Watch Out For This (Bumaye) </string>
				<key>SongArtist</key>
				<string>The Crossed Reflex</string>
				<key>SongDuration</key>
				<string>3:33</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Pass At Me</string>
				<key>SongArtist</key>
				<string>Timbaland ft. Pitbull</string>
				<key>SongDuration</key>
				<string>4:10</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Dancing In The Dark </string>
				<key>SongArtist</key>
				<string>Calm Manne MX</string>
				<key>SongDuration</key>
				<string>5:21</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Cool Down</string>
				<key>SongTitle</key>
				<string>We Don&apos;t Play Around</string>
				<key>SongArtist</key>
				<string>Dizzee Rascal ft. Jessie J</string>
				<key>SongDuration</key>
				<string>3:08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>NameRelease</key>
		<string>SH&apos;BAM 15</string>
		<key>PlaylistUrl</key>
		<string>http://grooveshark.com/playlist/SH+BAM+15/96417989</string>
		<key>tracks</key>
		<array>
			<dict>
				<key>Exercise</key>
				<string>Warmup</string>
				<key>SongTitle</key>
				<string>Get Lucky (Bbop and Rocksteadi Radio Edit )</string>
				<key>SongArtist</key>
				<string>Da Funk</string>
				<key>SongDuration</key>
				<string>3:18</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Turn The Beat Around</string>
				<key>SongArtist</key>
				<string>Regulator Jack</string>
				<key>SongDuration</key>
				<string>4:25</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Switch</string>
				<key>SongArtist</key>
				<string>Will Smith</string>
				<key>SongDuration</key>
				<string>3:16</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>She Wolf ( Falling to Pieces )</string>
				<key>SongArtist</key>
				<string>Lipstick View</string>
				<key>SongDuration</key>
				<string>3:32</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Work </string>
				<key>SongArtist</key>
				<string>The Impure Jack</string>
				<key>SongDuration</key>
				<string>3:32</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Not Myself Tonight </string>
				<key>SongArtist</key>
				<string>Christina Aquilera</string>
				<key>SongDuration</key>
				<string>3:32</string>
				<key>SongDuration2</key>
				<string>0:50</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>I Must Have Been Love </string>
				<key>SongArtist</key>
				<string>Vending Subway</string>
				<key>SongDuration</key>
				<string>3:07</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Talk Dirty </string>
				<key>SongArtist</key>
				<string>Jason Derulo ft. 2 Chainz</string>
				<key>SongDuration</key>
				<string>2:58</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Land of A Thousand Dances</string>
				<key>SongArtist</key>
				<string>Jessica Mauboy</string>
				<key>SongDuration</key>
				<string>2:39</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Standard Song</string>
				<key>SongTitle</key>
				<string>Put Your Hands Up </string>
				<key>SongArtist</key>
				<string>Stevie V feat. Ill Youth</string>
				<key>SongDuration</key>
				<string>3:30</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Peak Song</string>
				<key>SongTitle</key>
				<string>Antidote</string>
				<key>SongArtist</key>
				<string>Swedish House Mafia &amp; Knife Party</string>
				<key>SongDuration</key>
				<string>6:04</string>
			</dict>
			<dict>
				<key>Exercise</key>
				<string>Cool Down</string>
				<key>SongTitle</key>
				<string>Treasure </string>
				<key>SongArtist</key>
				<string>Bruno Mars</string>
				<key>SongDuration</key>
				<string>2:56</string>
			</dict>
			<dict>
				<key>BonuSong</key>
				<string>Bonus: Talk Dirty (Instrumental)      ALT 8</string>
				<key>SongArtist</key>
				<string>Elbow Taboo</string>
				<key>SongDuration</key>
				<string>2:58</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
